.aside-container {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.5rem;
  margin-bottom: 2rem;
}

.search-input {
  padding: 0.8rem 0.5rem;
  border: 1px solid #d8d8d8;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.aside-title {
  font-weight: 400;
  font-style: italic;
}

.aside-list,
.tags-list {
  list-style: none;
  padding-left: 0;
}

.aside-list li {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.aside-list li:last-child {
  border-bottom: none;
}

.aside-list li a span {
  position: absolute;
  right: 0;
}

.categories,
.tags,
.newsletter,
.popular-articles {
  margin-bottom: 2rem;
}

.tags-list a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #d8d8d8;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  margin-right: 0.3rem;
  font-size: 0.7rem;
  color: #666;
}

/*Newsletter section*/
.newsletter {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #ffedcb;
}

.newsletter .aside-title {
  margin-top: 0;
}

.newsletter-input {
  padding: 0.8rem 0.5rem;
  border: 1px solid #d8d8d8;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.newsletter-btn {
  padding: 0.8rem 0.5rem;
  background-color: #3b3b3b;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popular-article {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.popular-article:last-child {
  margin-bottom: 0;
}

.popular-article img {
  width: 100px;
}

.popular-article a {
  display: block;
  text-decoration: none;
  margin-bottom: 1.5em;
  color: orange;
}

.article-details {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
}
