.footer {
  background-color: #3b3b3b;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.footer p {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.social-medial {
  display: flex;
  gap: 15px;
  justify-content: center;
  cursor: pointer;
}
