#header {
  background-color: #3b3b3b;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

#header h1 {
  margin: 0;
  color: whitesmoke;
  font-size: 1.5rem;
}

#menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  margin: 0;
}
.nav-link {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
}

.nav-link:hover {
  color: #fff;
}

/* @media (min-width: 400px) {
  header {
    background-color: #fff;

    flex-direction: row;
    justify-content: space-between;
  }
  header h1 {
    margin: 0;
    color: #3b3b3b;
  }
  nav ul {
    flex-direction: row;
  }
} */
