.post {
  margin: 40px 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.post-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.post-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px 0;
  text-decoration: none;
  display: block;
}

.about-post {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.details {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 5px;
  padding: 3px;
}

.details p {
  margin: 0;
  font-size: 0.85rem;
  color: #bfbfbf;
  font-weight: 400;
}

.icon {
  width: 15px;
}

.post-intro {
  font-size: 0.95rem;
}

.readmore {
  color: orange;
  font-size: 0.95rem;
  text-decoration: none;
}
