.post {
  margin: 20px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.post-title {
  font-size: 30px;
  font-weight: 400;
}

.about-post {
  display: flex;
  gap: 20px;
}

.details {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px;
}

.details p {
  margin: 0;
}

.icon {
  width: 20px;
}
